---
layout: default
---
<h1 id="about">About</h1>
<p>
  Hello. I'm Samuel Marisa, aka. smarisa, an avid developer almost
  since birth.
</p>
<p>
  I created this site to better communicate about myself and my doings
  to everyone who want's to get to know me.
</p>
<p>
  As of now the site is ment primarily for the various stakeholders of
  projects I participated in during my studies in
  <a href="https://en.wikipedia.org/wiki/Aalto_University">Aalto University</a>.
</p>
<p>
  I blog about things related to my studies that puzzle me.
</p>

<h1 id="posts">Posts</h1>
Filter <input type="text" id="post-filter"/><small class="sidenote">(by anything you see below)</small>
<h2>Matching posts</h2>
<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <span class="post-meta">
      <span>{{ post.date | date: "%b %-d, %Y" }}</span><br/>
      <span>{{ post.content | number_of_words }} words</span>
    </span>
    <a href="{{ post.url | prepend: site.baseurl }}">
      <span class="post-title">{{ post.title }}</span>
    </a>
    <ul class="tag-list">
      {% for tag in post.tags %}
      <li><a class="btn">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
<h2>All tags</h2>
<ul class="tag-list">
{% for tag in site.tags %}
  {% assign tagName = tag | first | downcase %}
  {% assign postsCount = tag | last | size %}
  <li><a class="btn">{{ tagName }}</a></li>
{% endfor %}
</ul>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<script>
// Update post filter on keyup
$("#post-filter").on("keyup", function() {
  var g = $(this).val().toLowerCase();
  $(".post-list > li").each(function() {
    var s = $(this).text().toLowerCase();
    $(this)[ s.indexOf(g) !== -1 ? 'show' : 'hide' ]();
  });
});
// Update post filter on tag click
$(".tag-list a").click(function() {
  var tag = $(this).text().toLowerCase();
  $("#post-filter").val(tag);
  $("#post-filter").trigger("keyup");
});
</script>
